#page-company {
    display: flex;
    min-height: 100vh;
}

#page-company main {
    flex: 1;
}

#page-company .company-details {
    width: 700px;
    margin: 64px auto;

    background: #ffffff;
    border: 1px solid #d3e2e5;
    border-radius: 20px;

    overflow: hidden;
}

#page-company .company-details img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#page-company .company-details .images {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 16px;
}

#page-company .company-details .images button {
    border-radius: 20px;
    border: 0;
    height: 88px;
    background: none;

    cursor: pointer;
    overflow: hidden;
    outline: none;

    opacity: 0.6;
}

#page-company .company-details .images .active {
    opacity: 1;
}


#page-company .company-details .images button img {
    height: 100%;
    max-height: 130px;

    max-width: 100px;   
    border-radius: 20px;
}

#page-company main .company-details .images {
    padding: 25px;
}

#page-company .company-details .company-details-content {
    padding: 20px 80px;
}

#page-company .company-details .company-details-content h1,
#page-company .company-details .company-details-content h2,
#page-company .company-details .company-details-content p {
    color: #4D6F80;
    margin-bottom: 15px
}

#page-company .company-details .company-details-content .map-container {
    background-color: #E6F7FB;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    border: 1px solid #85cbdb;
    border-radius: 15px;

    transition: background-color 0.3s;
}

#page-company .company-details .company-details-content .map-container:hover {
    background-color: #cef1f9;
}

#page-company .company-details .company-details-content .map-container .leaflet-container {
    border-radius: 17px;
}

#page-company .company-details .company-details-content .map-container a {
    padding: 20px 0;
    width: 100%;
    
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #0089A5
}

#page-company .company-details .company-details-content hr {
    margin: 50px 0
}

#page-company .company-details .company-details-content .open-details {
    display: flex;
    justify-content: space-between;
}

#page-company .company-details .company-details-content .open-details .hour,
#page-company .company-details .company-details-content .open-details .open-on-weekends
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    border-radius: 20px;
    box-sizing: border-box;

    height: 175px;
    width: 260px;
    line-height: 28px;
    padding: 0px 20px;

}

#page-company .company-details .company-details-content .open-details .hour {
    background: linear-gradient(154.16deg, #EDFFF6 7.85%, #FFFFFF 91.03%);
    border: 1px solid #A1E9C5;

    color: #5C8599;
}

#page-company .company-details .company-details-content .open-details .open-on-weekends {
    background: linear-gradient(154.16deg, #EDFFF6 7.85%, #FFFFFF 91.03%);  
    border: 1px solid #A1E9C5;
    color: #37C77F;
}

#page-company .company-details .company-details-content .open-details .dont-open {
    background: linear-gradient(154.16deg, #FDF8F5 7.85%, #FFFFFF 91.03%);  
    border: 1px solid #FFBCD4;
    color: #FF669D;
}
