#page-create-company main .company-details .company-pending-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
    height: 150px;
    border: none;
    box-sizing: border-box;
    border-radius: 0px 0px 20px 20px;
}

#page-create-company main .company-details fieldset .company-pending-buttons .button-decline-company,
#page-create-company main .company-details fieldset .company-pending-buttons .button-accept-company {
    width: 45%;
    height: 65px;

    color: #FFF;
    cursor: pointer;

    border: 0;
    border-radius: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.2s;
}

#page-create-company main .company-details fieldset .company-pending-buttons .button-decline-company {
    background: #FF669D;
}

#page-create-company main .company-details fieldset .company-pending-buttons .button-accept-company {
    background: #3CDC8C
}

#page-create-company main .company-details fieldset .images-section .images-container .image-wrapper{
    position: relative;
}

#page-create-company main .company-details fieldset .images-section .images-container .image-wrapper .image-remove-icon{
    position: absolute;
    top: 0;
    right: 0;

    height: 35px;
    width: 40px;
    padding: 5px;

    background: #FFFFFF;

    border: 1px solid #D3E2E5;
    box-sizing: border-box;
    border-radius: 0px 20px;

    cursor: pointer;
}


